<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Notities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="notes && notes.length > 0">
    <ion-item-sliding *ngFor="let note of notes | async">
      <ion-item (click)="openDetailNote(note)">
        <h3>{{note.title}}</h3>
        <p>{{note.note}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="deleteNote(note)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <span *ngIf="!notes || notes.length < 1">Geen notities gevonden.</span>

  <ion-buttons class="fixed-add" end>
    <button ion-button (click)="openAddnote()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>
